# Copiez ce fichier vers .env.local puis renseignez les webhooks Discord.
# Ne publiez jamais le fichier .env.local et ne partagez pas ses valeurs.

DISCORD_WEBHOOK_RECOMMENDATION=https://discord.com/api/webhooks/1527449805725368322/Mxxq4w7L0SEyqjruX8UFAbbF8bxn5dUGLXw6Ri1WIPpxW46nf-rxhGGlqT1G8dmqtBtp
DISCORD_WEBHOOK_PCS_EXP=https://discord.com/api/webhooks/1527449801510355034/4Xr7B6Y0jyuFx3TsjS4q96Jq7TObHyzBjGra7NsJWX2ORwV6SuN4-aPdmth9dMkXj-8V
DISCORD_WEBHOOK_OBSERVATION_HDR=https://discord.com/api/webhooks/1527449688503095367/TTGhTnUnklXcC4qaevHPJLO-cGpVeKKPYott5P8Vmlpa90lF0xOroHxKZYAjSr3Tk9dX
DISCORD_WEBHOOK_OBSERVATION_SO=https://discord.com/api/webhooks/1527457961180663839/YBOa-YUqjbnNGemwa5Lp3lPvSeBzHIRhBk0yydKnXg_1E3buI-QGDhCPYq_pUoz_2t_q
DISCORD_WEBHOOK_SERGEANT_REPORT=https://discord.com/api/webhooks/1527477505957822498/v-mf-rtrs1MxuRmsrm3nO69F22F07LTk0c3hCBRgTptRvQ8xy7_oQ-EnZHmfeZhYGbBn
